<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
<div>
    <h1>{{ title }}</h1>
    <h3>{{ subtitle }}</h3>
    <div>
        <div class="container">
{#            <nav>#}
{#                <a href="#">主页</a>#}
{#                <a href="#">博客</a>#}
{##}
{#            </nav>#}
        </div>
            {% block content %} {% endblock %}
        <div>

        </div>

    </div>
</div>
<h1></h1>

<!-- jQuery first, then Bootstrap JS. -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>