<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ "site.css" | url_for_theme }}" />
  <title>{{ title }}</title>
</head>
<body>
<header id="header">
</header>
<div id="content">
    <h1>{{ title }}</h1>
    {% block content %} {% endblock %}
</div>
<footer>
</footer>
</body>