<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ "site.css" | url_for_theme }}" />
  <title>{{ title }}</title>
</head>
<body>
<header id="header">
  <h1>{{ title }}</h1>
  <nav>
    <ul>
      <li><a href="#">主页</a></li>
      <li><a href="#">博客</a></li>
      <li><a href="#">博客</a></li>
      <li><a href="#">博客</a></li>
    </ul>
  </nav>
</header>
<div id="content">
    {% block content %} {% endblock %}
</div>
<footer>
  by Shane
</footer>
</body>